<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/static/provicore.png" />
    <meta
      name="description"
      content="ProviCore EMS — Smart Workforce Management Platform."
    />
    <title>ProviCore EMS</title>
    <script
      type="module"
      crossorigin
      src="/static/assets/index-C3JmZJkV.js"
    ></script>
    <link
      rel="stylesheet"
      crossorigin
      href="/static/assets/index-BmSckJ4l.css"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
